<h2 class="movie-title">My Movie List</h2>
<app-movie-search></app-movie-search>
<div class="filters">
  <h5>Filter by Genre</h5>
  <span (click)="filterMovies('action')" [class]="filters.has('action')?'active':''">Action</span>
  <span (click)="filterMovies('adventure')" [class]="filters.has('adventure')?'active':''">Adventure</span>
  <span (click)="filterMovies('biography')" [class]="filters.has('biography')?'active':''">Biography</span>
  <span (click)="filterMovies('comedy')" [class]="filters.has('comedy')?'active':''">Comedy</span>
  <span (click)="filterMovies('crime')" [class]="filters.has('crime')?'active':''">Crime</span>
  <span (click)="filterMovies('drama')" [class]="filters.has('drama')?'active':''">Drama</span>
  <span (click)="filterMovies('history')" [class]="filters.has('history')?'active':''">History</span>
  <button (click)="clearFilters()">Clear Filters</button>
</div>

<section *ngIf="filters.size === 0?movies:filteredMovies as movies" class="movies-list">
  <div class="movie-header">
    <div class="movie-name">Name</div>
    <div class="movie-key">Genres</div>
    <div class="movie-length">Length</div>
    <div class="movie-rate">Rating</div>
  </div>
  <div *ngFor="let movie of movies"
       class="movie"
  >
    <a routerLink="/movie/{{movie.id}}">
      <div class="movie-name">{{movie.name}}</div>
      <div class="movie-key">{{movie.genres.join(", ")}}</div>
      <div class="movie-length">{{movie.length}}</div>
      <div class="movie-rate">{{movie.rate}}</div>
    </a>

  </div>

</section>
<div class="loader" *ngIf="loading$ | async"></div>
