<h2 class="movie-title">My Movie List</h2>
<app-movie-search></app-movie-search>
<div class="filters">
  <h5>Filter by Genre</h5>
  <div>
    <span *ngFor="let genreType of genreTypes"
          (click)="onFilterChange(genreType)"
          [class]="filters.has(genreType)?'active':''">{{genreType | titlecase}}</span>
    <button (click)="clearFilters()">Clear Filters</button>
  </div>
</div>

<section *ngIf="filters.size === 0?movies:filteredMovies as movies" class="movies-list">
  <div class="movie-header">
    <div class="movie-name">Name</div>
    <div class="movie-key">Genres</div>
    <div class="movie-length">Length</div>
    <div class="movie-rate">Rating</div>
  </div>
  <div *ngFor="let movie of movies"
       class="movie"
  >
    <a routerLink="/movie/{{movie.id}}">
      <div class="movie-name">{{movie.name}}</div>
      <div class="movie-key">{{movie.genres.join(", ")}}</div>
      <div class="movie-length">{{movie.length}}</div>
      <div class="movie-rate">{{movie.rate}}</div>
    </a>

  </div>

</section>
<div class="loader" *ngIf="loading$ | async"></div>
