.search-input{
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  margin: 0 0 3.5rem 0;
  font-weight: 300;
}
